# Environment variables
.env

# Build artifacts
hellpot/HellPot
wolweb/wolweb
home-controller/ble-temp-monitor
*.exe

# IDE
.vscode/
.idea/

# Logs
*.log
/home-controller/coverage.out
/home-controller/home-controller
